.column {
    margin: auto;
    flex: 50%;
    padding: 1em;
}

.row {
    margin: auto;
}

.level_up{
    font-size: 1.3em;
}

.auv_2d {
    width: 100%;
    height: 100%;
    margin: auto auto;
}

.auv_container {
    width: 50em;
    height: 20em;
} 

body {
    overflow: visible;
}

@media (max-width: 1200px) {
    .auv_container {
        height: 18em;
    }
}

@media (max-width: 994px) {
    .auv_container {
        height: 26em;
    }

}


@media (max-width: 770px) {
    .auv_container {
        height: 18em;
    }
}

@media (max-width: 500px) {
    .auv_container {
        height: 15em;
    }
}

@media (max-width: 450px) {
    .auv_container {
        height: 13em;
    }
}

.specs_table, td, th{
    border: 1px solid #ffffff83;
    margin : auto;
    text-align: center;
}

.specs_table, td, th{
    padding: 2px 5px;
}
/* td:nth-child(5){
    width: 100%;
} */
