.recruitment {
    background: rgba(255,255,255,0.8);
    margin-top : 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
}

.recruitment__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.recruitment__header span {
    font-weight: bolder;
    font-size: xx-large;
}

.recruitment__header img {
    height : 150px;
    margin-left: -50px;
}

.recruitment hr {
    background-color: rgba(0,0,0,0.5);
    height: 1px;
}

.recruitment__section {
    color: black;
    height: 200px;
}