.recruitment {
    background: rgba(255,255,255,0.8);
    margin-top : 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
    z-index: -1;
}

.recruitment__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.recruitment__header .rday_timer{
    text-align: center ;
    font-size: medium;
    margin: auto;
}

.recruitment__header #rday_timer{
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
}

@media only screen and (max-width: 800px){
    .recruitment__header .rday_timer{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2vw;
    box-align: left;
    }
    .recruitment__header #rday_timer{
        font-size: 2vw;
        box-align: left;
    }
}
.recruitment__header div {
    font-weight: bolder;
    font-size: large;
    color: #000000 !important;
    z-index: 500;
}

.recruitment__header img {
    height : 150px;
    margin-left: -50px;
}

.recruitment hr {
    background-color: rgba(0,0,0,0.5);
    height: 1px;
}

.recruitment__body {
    display: flex;
    flex-direction: column;
}

.recruitment__section {
    color: black;
    margin-bottom: 30px;
}

.recruitment__section__heading {
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    margin-bottom: 10px;
}

.recruitment__section__content {
    padding: 0 30px;
    text-align: justify;
}

.recruitment__section__table, td, th{
    border: 1px solid black;
    margin : auto;
    text-align: center;
}

.recruitment__section__table, td, th{
    padding: 2px 5px;
}
td:nth-child(5){
    width: 100%;
}
#recruitment__headerRight {
    position: relative;
    display: flex;
    flex-direction: column;
}

.applyContent {
    text-align: center !important;
}

.gear-svg-container{
    position: absolute;
    bottom : 50px;
    right : 10px;
}

.gear-svg-machine {
    height : 100px;
    fill: black;
}
#chatSpan{
    margin: 2px;
}
.gear-svg-small-shadow, .gear-svg-medium-shadow, .gear-svg-large-shadow {
    fill: rgba(0, 0, 0, 0.05); 
}

.gear-svg-small {
    -webkit-animation: counter-rotation 2.5s infinite linear;
    -moz-animation: counter-rotation 2.5s infinite linear;
        -o-animation: counter-rotation 2.5s infinite linear;
            animation: counter-rotation 2.5s infinite linear;
    -webkit-transform-origin: 100.136px 225.345px;
        -ms-transform-origin: 100.136px 225.345px;
            transform-origin: 100.136px 225.345px; 
}

.gear-svg-small-shadow {
    -webkit-animation: counter-rotation 2.5s infinite linear;
    -moz-animation: counter-rotation 2.5s infinite linear;
        -o-animation: counter-rotation 2.5s infinite linear;
            animation: counter-rotation 2.5s infinite linear;
    -webkit-transform-origin: 110.136px 235.345px;
        -ms-transform-origin: 110.136px 235.345px;
            transform-origin: 110.136px 235.345px; 
}

.gear-svg-medium {
    -webkit-animation: rotation 3.75s infinite linear;
    -moz-animation: rotation 3.75s infinite linear;
        -o-animation: rotation 3.75s infinite linear;
            animation: rotation 3.75s infinite linear;
    -webkit-transform-origin: 254.675px 379.447px;
        -ms-transform-origin: 254.675px 379.447px;
            transform-origin: 254.675px 379.447px; 
}

.gear-svg-medium-shadow {
    -webkit-animation: rotation 3.75s infinite linear;
    -moz-animation: rotation 3.75s infinite linear;
        -o-animation: rotation 3.75s infinite linear;
            animation: rotation 3.75s infinite linear;
    -webkit-transform-origin: 264.675px 389.447px;
        -ms-transform-origin: 264.675px 389.447px;
            transform-origin: 264.675px 389.447px; 
}

.gear-svg-large {
    -webkit-animation: counter-rotation 5s infinite linear;
    -moz-animation: counter-rotation 5s infinite linear;
        -o-animation: counter-rotation 5s infinite linear;
            animation: counter-rotation 5s infinite linear;
    -webkit-transform-origin: 461.37px 173.694px;
        -ms-transform-origin: 461.37px 173.694px;
            transform-origin: 461.37px 173.694px; 
}

.gear-svg-large-shadow { 
    -webkit-animation: counter-rotation 5s infinite linear;
    -moz-animation: counter-rotation 5s infinite linear;
        -o-animation: counter-rotation 5s infinite linear;
            animation: counter-rotation 5s infinite linear;
    -webkit-transform-origin: 471.37px 183.694px;
        -ms-transform-origin: 471.37px 183.694px;
            transform-origin: 471.37px 183.694px; 
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to   {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to   {-o-transform: rotate(359deg);}
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}

@-webkit-keyframes counter-rotation {
  from {-webkit-transform: rotate(359deg);}
  to   {-webkit-transform: rotate(0deg);}
}

@-moz-keyframes counter-rotation {
  from {-moz-transform: rotate(359deg);}
  to   {-moz-transform: rotate(0deg);}
}

@-o-keyframes counter-rotation {
  from {-o-transform: rotate(359deg);}
  to   {-o-transform: rotate(0deg);}
}

@keyframes counter-rotation {
  from {transform: rotate(359deg);}
  to   {transform: rotate(0deg);}
}

#footer {
    background: none !important;
}

#footer::before {
    display: none !important;
}
